<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeomo.shiro.mapper.RoleMapper">

    <resultMap id="roleListResult" type="role">
            <id property="id" column="r_id"></id>
        <result property="code" column="r_code"></result>
        <result property="name" column="r_name"></result>
        <result property="createTime" column="r_create_time"></result>
        <result property="createUserId" column="r_create_user_id"></result>
        <result property="lastModifyTime" column="r_last_modify_time"></result>
        <result property="lastModifyUserId" column="r_last_modify_user_id"></result>
        <result property="version" column="r_version"></result>
        <collection property="menus" resultMap="com.jeomo.sys.mapper.MenuMapper.menuListResult"></collection>
    </resultMap>
</mapper>
