<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeomo.sys.mapper.MenuMapper">


    <resultMap id="menuListResult" type="menu">
        <id property="id" column="m_id"></id>
        <result property="name" column="m_name"></result>
        <result property="path" column="m_path"></result>
        <result property="parentId" column="m_parent_id"></result>
        <result property="createTime" column="m_create_time"></result>
        <result property="createUserId" column="m_create_user_id"></result>
        <result property="lastModifyTime" column="m_last_modify_time"></result>
        <result property="lastModifyUserId" column="m_last_modify_user_id"></result>
        <result property="version" column="m_version"></result>
    </resultMap>

</mapper>
