<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeomo.shiro.mapper.UserMapper">
    <sql id="base_select">
        select * from sys_user a
    </sql>

    <sql id = "user_allinfo_select">
      select
        u.id, u.name, u.login_name, u.password, u.age, u.email, u.phone, u.address, u.last_access_time, u.create_time, u.create_user_id, u.last_modify_time, u.last_modify_user_id, u.version,
        r.id r_id, r.code r_code, r.name r_name, r.create_time r_create_time, r.create_user_id r_create_user_id, r.last_modify_time r_last_modify_time, r.last_modify_user_id r_last_modify_user_id, r.version r_version,
        m.id m_id, m.path m_path, m.label m_label, m.sort m_sort, m.parent_id m_parent_id, m.create_time m_create_time, m.create_user_id m_create_user_id, m.last_modify_time m_last_modify_time, m.last_modify_user_id m_last_modify_user_id, m.version m_version
      from sys_user u
      left  join sys_user_role ur on u.id = ur.user_id
      left join  sys_role r on ur.role_id = r.id
      left join sys_role_menu rm on r.id = rm.role_id
      left join sys_menu m on rm.menu_id = m.id
    </sql>


    <resultMap id="userBaseInfoResultMap" type="user">
<!--         <id property="id" column="id"></id> -->
<!--         <result property="name" column="name"></result> -->
<!--         <result property="loginName" column="login_name"></result> -->
<!--         <result property="password" column="password"></result> -->
<!--         <result property="age" column="age"></result> -->
<!--         <result property="email" column="email"></result> -->
<!--         <result property="phone" column="phone"></result> -->
<!--         <result property="address" column="address"></result> -->
<!--         <result property="lastAccessTime" column="last_access_time"></result> -->
<!--         <result property="createTime" column="create_time"></result> -->
<!--         <result property="createUserId" column="create_user_id"></result> -->
<!--         <result property="lastModifyTime" column="last_modify_time"></result> -->
<!--         <result property="lastModifyUserId" column="last_modify_user_id"></result> -->
<!--         <result property="version" column="version"></result> -->
        <collection property="roles" resultMap="com.jeomo.sys.mapper.RoleMapper.roleListResult"></collection>
    </resultMap>


    <select id="queryByUsername" parameterType="string" resultType="user">
        <include refid="base_select"></include>	WHERE a.username = #{username}
    </select>

    <delete id="removeByUsername" parameterType="username">
    	delete from sys_user where username = #{username}
    </delete>


</mapper>
